@media screen and (max-width: 500px) {
    .datetimelocation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }
    .main-inner-child {
        padding: 0 1rem;
    }
}